<div class="container mt-5">
  <h1>Profile Settings</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="form-control">
      </div>
    </div>
    <!-- form column -->
    <div class="col-md-8" *ngIf="currentUser">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group" >
          <label>First name:</label>
          <input formControlName="firstName" class="form-control" type="text" value="{{currentUser.firstName}}"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">Firstname is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Last name:</label>
          <input formControlName="lastName" class="form-control" type="text" value="{{currentUser.lastName}}"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Lastname is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input formControlName="email" class="form-control" type="text" value="{{currentUser.email}}"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern">Email is not valid</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="!profileForm.dirty" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
