<div class="container mt-5">
  <h1>Profile Settings</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="form-control">
      </div>
    </div>
    <!-- form column -->
    <div class="col-md-8">
      <form (ngSubmit)="onSubmit(profileForm)" #profileForm="ngForm">
        <div class="form-group">
          <label for="firstName">First name:</label>
          <input class="form-control" type="text" id="firstName" name="firstName" required
                 [(ngModel)]="currentUser.firstName" [value]="currentUser.firstName"
                 #firstName="ngModel" [ngClass]="{'is-invalid': firstName.dirty && firstName.errors}">
          <div *ngIf=" firstName.dirty && firstName.errors" class="invalid-feedback">
            <div *ngIf="firstName.errors.required">First name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last name:</label>
          <input class="form-control" type="text" id="lastName" name="lastName" required
                 [(ngModel)]="currentUser.lastName" [value]="currentUser.lastName"
                 #lastName="ngModel" [ngClass]="{'is-invalid': lastName.dirty && lastName.errors}">
          <div *ngIf="lastName.dirty && lastName.errors" class="invalid-feedback">
            <div *ngIf="lastName.errors.required">Last name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="text" id="email" name="email" required validateEmail
                 [(ngModel)]="currentUser.email" [value]="currentUser.email"
                 #email="ngModel" [ngClass]="{'is-invalid': email.errors && email.dirty}">
          <div *ngIf="email.errors && email.dirty" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.emailvalidator">Email is not valid</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="!(profileForm.dirty && profileForm.valid)" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
      <button type="button" class="btn btn-outline-danger" (click)="deleteProfile()">
        Delete Profile
      </button>
    </div>
  </div>
  <hr>
</div>
