<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Webshop</a>
  <div class="justify-content-end">
    <ul class="nav">
      <li class="nav-item">
        <div (click)="navigate(sell)">
          <img src="../../../assets/icons/sell_white.png"
               style="height: 30px; display: block; margin-left: auto; margin-right: auto;"/>
          <a class="nav-link" style="color: white">Sell</a>
        </div>
      </li>
      <li class="nav-item">
        <div onclick="navigate(cart)">
          <img src="../../../assets/icons/cart_white.png"
               style="height: 30px; display: block; margin-left: auto; margin-right: auto;"/>
          <a class="nav-link" style="color: white">Shopping Cart</a>
        </div>
      </li>
      <li class="nav-item">
        <div (click)="openModal()">
          <img src="../../../assets/icons/user_white.png"
               style="height: 30px; display: block; margin-left: auto; margin-right: auto;"/>
          <a class="nav-link" style="color: white">Sign In</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
