<div class="container mt-5">
  <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="openModal(null)">Add new item</button>
  <br/>
  <br/>
  <div class="grid pb-5">
    <div class="card" *ngFor="let item of items" (click)="openModal(item)" style="cursor: pointer"
         (mouseenter)="showEdit(cardEdit)" (mouseleave)="hideEdit(cardEdit)">
      <div class="card-item">
        <div *ngIf="item.image == null">
          <img class="card-img-top" src="../../assets/images/placeholder.png" alt="default item image">
        </div>
        <div *ngIf="item.image != null">
          <img class="card-img-top" [src]="getImageSrc(item)" alt="item image">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <div *ngIf="item.description.length < 41">
            <p class="card-text">{{item.description}}</p>
          </div>
          <div *ngIf="item.description.length > 40">
            <p class="card-text">{{item.description | slice:0:40}}...</p>
          </div>
          <p class="card-text font-weight-bold float-right">CHF {{item.price}}.-</p>
          <p class="card-text float-left" *ngIf="item.seller != undefined">
            <small class="text-muted">{{item.seller.email}}</small>
          </p>
        </div>
      </div>
      <div class="card-edit card-img-overlay" #cardEdit style="display: none;">
        <div class="card-body">
          <img src="../../assets/icons/edit_white.png" height="100" width="100" class="center">
        </div>
      </div>
    </div>
  </div>
</div>
