<div class="container mt-5">
  <div *ngIf="cartItems == null || cartItems.length == 0">
    <p class="text-muted p-2" style="text-align: center">No items in your cart!</p>
  </div>
  <div class="card" *ngFor="let item of cartItems">
    <div class="card-horizontal">
      <div class="btn delete-icon" (click)="remove(item)">
        <img src="../../../assets/icons/trash_red.png" alt="Delete Icon"/>
      </div>
      <div class="image-centered" *ngIf="item.image == null">
        <img src="../../assets/images/placeholder.png" alt="default item image">
      </div>
      <div class="image-centered" *ngIf="item.image != null">
        <img [src]="getImageSrc(item)" alt="item image">
      </div>
      <div class="card-body">
        <h6 class="card-title">{{item.title}}</h6>
        <div>
          <p class="card-text">{{item.description}}</p>
        </div>
        <p class="card-text float-left" *ngIf="item.seller != undefined">
          <small class="text-muted">{{item.seller.email}}</small>
        </p>
        <p class="card-text font-weight-bold float-right">CHF {{item.price}}.-</p>
      </div>
    </div>
  </div>
  <div *ngIf="cartItems && cartItems.length > 0">
    <div class="total text-right pt-4">
      <p class="font-weight-bold">Total cost: CHF {{calculateTotal()}}.-</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg float-right">Buy articles</button>
  </div>
</div>
